# Telegram-бот для уведомлений о заявках
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# Яндекс.Метрика
NEXT_PUBLIC_YANDEX_METRIKA_ID=
